<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs-SSITVIT</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/stylesheets/blog_css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/stylesheets/blog_css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/blog_css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/stylesheets/blog_css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/stylesheets/blog_css/Style.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="https://www.ssitvit.tech/" class="text-gray"><img src="/images/blog_assets/logo.png" alt="SSIT"></a>
            </div>
            
            <!-- <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div> -->
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/submission">Login</a>
                    </li>
                    <li class="nav-link">
                        <a href="#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <form action="/search" method="POST">
                    <input type="text" name="search" placeholder="Search a blog">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                    
               
            </div>
        </div>
    </nav>

    <!----------------------------- Main Site Section ------------------------------>

    <main>

        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <img src="/images/blog_assets/hero.png" alt="SSIT">
        </section>

        
        <!------------------------- Site Content -------------------------->
        
        <section class="container">
            <h1>Latest Blogs </h1>
            <div class="site-content">
                
                <div class="posts">
                    <%if(records.length>0){ %>
                        <%records.forEach(function(row){%>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="/upload/<%= row.image %>" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fa fa-pencil" style="color: black;" aria-hidden="true"></i></i></i>&nbsp;&nbsp;<%= row.author %></span>
                                <span><i class="fa fa-calendar" style="color: black;" aria-hidden="true"></i>&nbsp;&nbsp;<%= row.createdAt.toLocaleDateString()%></span>
                                
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#"><%= row.title %></a>
                            <p><%= row.desc %>
                            </p>
                            <form action="/readmore/<%= row._id %>" >
                            <button class="btn post-btn">Read More &nbsp; <i class="fa fa-caret-down"  style="color: black;" aria-hidden="true"></i></button>
                        </form>
                        </div>
                    </div>
                    <hr>
                    
                    <% })} else{ %>
                        
                        <div class="noblogs">No More Blogs</div>
                        <% } %>
                        <%if(records.length!=0){ %>
                        <a class="readmore"style="margin-bottom :10px;" href="/main/<%=skip%>">Read next blogs </a>
                        
                        
                        <%} %>  
                        <%if(skip!=4){ %>  
                        <%var prev=skip-8%>
                        
                        <a class="readmore"style="margin-bottom :10px;" href="/main/<%=prev%>">Previous blogs </a>
                        <% } %>
                        
                        
                </div>
                <aside class="sidebar">
                    <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="#">Software</a>
                                <span>(05)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                                <a href="#">Techonlogy</a>
                                <span>(02)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                <a href="#">Artificial Intelligence</a>
                                <span>(07)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                <a href="#">Machine Learning</a>
                                <span>(01)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="#">Cyber Security</a>
                                <span>(08)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="/images/blog_assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                 
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="post-image">
                                <div>
                                    <img src="/images/blog_assets/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                 
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                            <div class="post-image">
                                <div>
                                    <img src="/images/blog_assets/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                  
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                            <div class="post-image">
                                <div>
                                    <img src="/images/blog_assets/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                  
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                            <div class="post-image">
                                <div>
                                    <img src="/images/blog_assets/popular-post/m-blog-5.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                  
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="popular-tags">
                        <h2>Website developers</h2>
                        <div class="tags flex-row">
                            <span class="tag" data-aos="flip-up" data-aos-delay="100">Gunjan Raj tiwari</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="200">Ganesh Sahu</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="300">Shreyansh Singh</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="400">Satvik Jain</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="500">Azgar</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="600">Jayendra Awasthi</span>
                            
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>
    
    <!---------------x------------- Main Site Section ---------------x-------------->


    <!----------------------------- Footer ------------------------------------------>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
           
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <form action="/mailer" method="POST">
                    <input type="email" name="mail" placeholder="Email">
                  <span> <button type="submit"><i class="fa fa-envelope-o" aria-hidden="true"  style="color: black;"></i>
                    </button>
                </span>
                </form>
                </div>
            </div>
            <div class="contactus" data-aos="fade-left" data-aos-delay="200" id="contactus">
                <h2>Contact Us</h2>
                <p>+91 7294992887</p>
                <a href="mailto:ieeeessit@vit.ac.in"><p>ieeeessit@vit.ac.in</p></a>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                <a href="https://www.facebook.com/SSITVIT/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://instagram.com/ieeessit/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/ieeessitvit"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved | Powered By
                <a href="https://www.ssitvit.tech/" target="_black">IEEE SSIT-VIT</a>
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fa fa-arrow-circle-up  fa-3x"  aria-hidden="true"></i></span>
        </div>
    </footer>

    <!-- -------------x------------- Footer --------------------x------------------- -->
   
    <!-- Jquery Library file -->
    <script src="/javascripts/blog_js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/javascripts/blog_js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/javascripts/blog_js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/javascripts/blog_js/main.js"></script>
</body>

</html>